.container {
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.grandiente {
  display: block;
  flex-direction: row;
  margin-top: -6.5em;
  width: 100%;
  height: 104.3vh;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #514A9D, #2489dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #514A9D, #2489dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
}

.conGradiente {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  background: #2489dc;
  z-index: 1;
}


.title {
  position: relative;
  flex: 2;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  align-content: flex-start;
  margin: 1em 0 1em 0;
  letter-spacing: 0.08em;
  cursor: default;
  z-index: 1;
}




.enlaces a {
  margin: 0 1.5em 0 1.5em;
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

.enlaces a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contenedor {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #005cc5;
  border-color: #005cc5;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  /* line-height: 1.5em; */
}

.textoBienvenida {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 10vh;
  margin-left: 7%;
  align-self: center;
  z-index: 1;
  color: white;
}

.welcome {
  font-size: 72px;
}

.submensaje {
  margin-top: -1.2em;
}

.submensaje h4 {
  font-size: 1.3em;
  line-height: 0.4em;
  font-weight: 400;
}

@media only screen and (max-width: 426px) {
  .conGradiente,
  .encabezado {
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .enlaces,
  .title {
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }


  .submensaje {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {

  .grandiente {
    margin-top: -7.9em;
    height: 100vh;
  }


  .conGradiente,
  .encabezado {
    align-items: center;
    flex-direction: column;
    padding-bottom: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .enlaces,
  .title {
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .textoBienvenida {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0.2em;
  }

  .welcome {
    font-size: 48px;
    position: relative;
  }

  .submensaje {
    font-size: 0.85em;
    text-align: center;
  }


}

@media only screen and (min-width:601px) and (max-width:900px) {
  .title {
    margin-left: 4%;
    font-size: 1.2em;
  }

  .conGradiente,
  .encabezado {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .enlaces a {
    font-size: 1em;
  }

  .welcome {
    font-size: 48px;
  }

  .textoBienvenida {
    margin-top: 18vh;
  }

  .submensaje h4 {
    font-size: 1em;
  }

}

@media only screen and (min-width:901px) {
  .title {
    margin-left: 8%;
    /* font-size: 1.3em; */
  }

  .enlaces {
    padding-right: 4%;
    display: flex;
    margin: auto;
  }

  .submensaje {
    font-size: 1em;

  }

  .textoBienvenida {
    right: 48%;
    margin-bottom: -1em;
  }

  /* .textoBienvenida span {
    width: 110%;
  } */


}