.container {
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.grandiente {
  display: block;
  flex-direction: row;
  margin-top: -6.5em;
  width: 100%;
  height: 121vh;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #514A9D, #2489dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #514A9D, #2489dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -2;
}

.conGradiente {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  background: #2489dc;
  z-index: 1;
}


.title {
  position: relative;
  flex: 2;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  align-content: flex-start;
  margin: 0.5em 0 0 0;
  letter-spacing: 0.08em;
  cursor: default;
  z-index: 1;
}


.enlaces a {
  letter-spacing: 0.05em;
}

.enlaces a:hover {
  cursor: pointer;
  text-decoration: underline;
}


.contenedor {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}


.textoBienvenida {
  display: flex;
  flex-direction: column;
  color: white;
  position: fixed;
}

.welcome {
  font-size: 72px;
}

.imagenScroll {
  position: relative;
  background: var(--imagenScroll);
  background-attachment: fixed;
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: 22rem;
  width: 100%;
}

.submensaje h4 {
  font-size: 2vw;
  line-height: 0.4em;
  font-weight: 400;
}

.submensaje a {
  text-decoration: underline;
}

.contenedorProyectos {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  color: var(--blues);
  flex-direction: column;
  align-items: center;
}

.bloqueProyectos {
  display: flex;
  flex-flow: wrap;
  background-color: white;
  height: auto;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.tituloProyectos {
  text-align: center;
  font-size: 2em;
}

.tarjetaProyectos p {
  margin-left: 0.8em;
  color: black;
  margin-right: 0.8em;
  font-size: 1.1em;
}


.redes {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  color: var(--blues);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.gitBoton {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(77, 77, 77);
  width: 5rem;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  height: 1.4em;
  display: flex;
  border: 0.1em solid #FFFFFF;
}

.demo {
  font-family: 'Poppins', sans-serif;
  background-color: var(--blues);
  color: white;
  width: 5rem;
  font-size: 1.1em;
  border-radius: 5px;
  height: 1.4em;
  display: flex;
  border-color: var(--blues);
  border: 0.1em solid #FFFFFF;
}

.iconoBoton {
  margin: auto 0.3em auto 0;
}

.textoBoton {
  margin: auto 0 auto 0;
  font-size: 0.7em;
}

.demo:active {
  background-color: #FFFFFF;
  color: var(--blues);
  border: 1px solid var(--blues)
}

.gitBoton:active {
  background-color: #FFFFFF;
  border: 1px solid rgb(77, 77, 77);
  color: rgb(77, 77, 77);
}

.tarjetaProyectos:hover {
  transform: scale(1.05);
}


.contactoTexto {
  font-size: 2em;
  text-decoration: underline;
}

.contenedorRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.iconoRedes {
  font-size: 5em;
  cursor: pointer;
}

.linkPath {
  cursor: pointer;
}


@media only screen and (max-width: 575px) {

  .container {
    width: 100%;
  }

  .activo {
    background-color: rgba(88, 84, 139, 0.384);
    border-radius: 5px;
    font-size: 1.1em;
  }

  .conGradiente,
  .encabezado {
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0.3em;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .enlaces,
  .title {
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

  }

  .title {
    font-size: 1.2em;
  }

  .enlaces a {
    font-size: 0.75em;
  }

  .enlaces a:first-child {
    margin-left: 4vw;
    margin-right: 15vw;
  }

  .enlaces a:last-child {
    margin-left: 15vw;
    margin-right: 4vw;
  }

  .contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .contenedorProyectos .contactoTexto {
    margin-top: 3em;
  }

  .textoBienvenida {
    flex: 1;
    align-items: center;
    margin-bottom: 5em;
  }

  .welcome {
    font-size: 2em;
    position: relative;
  }

  .submensaje {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
  }

  .submensaje h4 {
    width: 85vw;
    font-size: 0.85em;
    line-height: normal;
    text-align: center;
  }


  .submensaje a {
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
  }

  .imagenScroll {
    background-position: center 65vh;
    background-size: 50vw;
  }


  .bloqueTransparente {
    height: 150vh;
  }

  .contenedorProyectos {
    width: 100%;
    height: 105vh;
    /* padding-top: 5em; */
  }

  .bloqueProyectos {
    flex-flow: wrap;
    height: auto;
    padding-bottom: 2em;
    justify-content: space-evenly;
  }

  .redes {
    height: 100vh;
    width: 100%;
  }

  .activo {
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: rgba(88, 84, 139, 0.384);
    border-radius: 5px;
    font-size: 0.85em !important;
  }

  .tarjetaProyectos {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    width: 12em;
    min-width: 8em;
    height: 13.4em;
    border: 1px solid var(--blues);
    border-radius: 5px;
  }


  .tarjetaProyectos span {
    position: relative;
    color: var(--blues);
    margin-top: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
  }

  .tarjetaProyectos p {
    font-size: 0.65em;
  }

  .tarjetaProyectos div {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
  }

  .iconoRedes {
    font-size: 4em;
  }

  .linkPath {
    font-size: 0.9em;
    cursor: pointer;
  }
}

@media only screen and (min-width:576px) and (max-width:991px) {
  .title {
    margin-left: 6%;
    font-size: 1em;
    margin-top: 0;
  }

  .conGradiente,
  .encabezado {
    height: 2em;
    padding-top: 0.2em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }


  .enlaces {
    margin-left: 2em;
  }

  .enlaces a {
    font-size: 0.7em;
  }

  .enlaces a:first-child {
    margin-right: 3vw;
  }

  .enlaces a:last-child {
    margin-left: 3vw;
    margin-right: 5vw;
  }


  .imagenScroll {
    background-position: 95% 50%;
    background-size: 12em;
  }


  .bloqueTransparente {
    height: 130vh;
  }

  .contenedor {
    flex: 1;
    height: 100vh;
    align-items: center;
    margin-top: 2em;
  }

  .welcome {
    font-size: 2em;
    margin-bottom: -0.7em;
  }

  .textoBienvenida {
    margin-left: 7%;
    flex: 1;
    margin-top: 8vh;
  }


  .submensaje h4 {
    width: 25em;
    font-size: 0.8em;
    line-height: normal;
    text-align: left;
  }

  .bloqueProyectos {
    display: flex;
    flex-wrap: wrap;
  }

  .tituloProyectos {
    margin-top: 1em;
  }

  .redes {
    height: 100vh;
    width: 100%;

  }

  .contenedorProyectos .contactoTexto {
    font-size: 2.5em;
    margin-top: 1em;
  }

  .activo {
    padding: 0.2em 0.4em 0.2em 0.4em;
    background-color: rgba(88, 84, 139, 0.384);
    border-radius: 5px;
    font-size: 0.8em !important;
  }

  .tarjetaProyectos {
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 15em;
    min-width: 12em;
    height: 18em;
    border: 1px solid var(--blues);
    border-radius: 5px;
  }


  .tarjetaProyectos span {
    position: relative;
    color: var(--blues);
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
  }

  .tarjetaProyectos p {
    font-size: 0.85em;
  }

  .tarjetaProyectos div {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
  }

  .contactoTexto {
    font-size: 3em;
  }


}

@media only screen and (min-width:992px) and (max-width: 1440px) {
  .title {
    margin-left: 4%;
    font-size: 1.8em;
    margin-top: 0;
  }

  .conGradiente,
  .encabezado {
    height: 3em;
    padding-top: 0.2em;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .enlaces a {
    font-size: 1em;
  }

  .enlaces a:first-child {
    margin-right: 3vw;
  }

  .enlaces a:last-child {
    margin-left: 3vw;
    margin-right: 5vw;
  }

  .contenedor {
    flex: 1;
    height: 100vh;
    align-items: center;
  }


  .textoBienvenida {
    margin-left: 7%;
    flex: 1;
    align-items: left;
    margin-top: 15vh;
  }

  .welcome {
    font-size: 4.5vw;
    margin-bottom: -0.5em;
  }

  .submensaje h4 {
    width: 35vw;
    font-size: 1.2rem;
    line-height: normal;
    text-align: left;
  }

  .submensaje a {
    font-size: 1.2em;
  }

  .imagenScroll {
    background-position: 85% center;
    background-size: 17rem;
  }

  .bloqueTransparente {
    height: 142vh;
  }


  .bloqueProyectos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3vh;

  }

  .contenedorProyectos .contactoTexto {
    margin-top: 1em;
  }

  .redes {
    height: 100vh;
    width: 100%;
  }


  .tarjetaProyectos {
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 19em;
    min-width: 18em;
    height: 24em;
    border: 1px solid var(--blues);
    border-radius: 5px;
  }


  .tarjetaProyectos span {
    position: relative;
    color: var(--blues);
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }

  .tarjetaProyectos p {
    font-size: 1.1em;
  }

  .tarjetaProyectos div {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
  }

  .gitBoton,
  .demo {
    height: 2em;
    font-size: 1.5em;
    justify-content: space-evenly;
    width: 10vw;
  }


  .activo {
    padding: 0.2em 0.4em 0.2em 0.4em;
    background-color: rgba(88, 84, 139, 0.384);
    border-radius: 5px;
    font-size: 1.1em !important;
  }

  .contactoTexto {
    font-size: 3em;
  }

}


@media only screen and (min-width:1440.1px) {
  .title {
    margin-left: 8%;
    font-size: 2.4em;
    margin-top: 0;

  }

  .conGradiente,
  .encabezado {
    height: 7vh;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }



  .enlaces a {
    font-size: 1.4em;
  }

  .enlaces a:first-child {
    margin-right: 3vw;
  }

  .enlaces a:last-child {
    margin-left: 3vw;
    margin-right: 5vw;
  }

  .contenedor {
    flex: 1;
    height: 100vh;
    align-items: center;
  }


  .textoBienvenida {
    margin-left: 7%;
    flex: 1;
    align-items: left;
    margin-top: 15vh;
  }

  .welcome {
    font-size: 4.5vw;
    margin-bottom: -0.5em;
  }

  .submensaje h4 {
    width: 35vw;
    font-size: 0.9rem;
    line-height: normal;
    text-align: left;
  }



  .bloqueTransparente {
    height: 142vh;
  }

  .textoBienvenida {
    margin-left: 8em;
    margin-top: 2em;
  }


  .submensaje h4 {
    width: 25em;
    font-size: 1.3em;
    line-height: normal;
    text-align: left;
  }

  .submensaje a {
    font-size: 1.4em;
  }

  .redes {
    height: 100vh;
    width: 100%;
  }

  .contenedorProyectos .contactoTexto {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .bloqueProyectos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }


  .tarjetaProyectos {
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 25em;
    min-width: 20em;
    height: 28em;
    border: 1px solid var(--blues);
    border-radius: 5px;
  }


  .tarjetaProyectos span {
    position: relative;
    color: var(--blues);
    margin-top: 0.5em;
    font-size: 1.7em;
    font-weight: 500;
    text-align: center;
  }

  .tarjetaProyectos p {
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: 1.3em;
  }

  .tarjetaProyectos:hover {
    font-size: 1.05em;
  }

  .tarjetaProyectos:hover p {
    font-size: 1.3em;
  }

  .tarjetaProyectos div {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
  }


  .activo {
    padding: 0.2em 0.4em 0.2em 0.4em;
    background-color: rgba(88, 84, 139, 0.384);
    border-radius: 5px;
    font-size: 1.5em !important;
  }

  .gitBoton,
  .demo {
    justify-content: space-evenly;
    font-size: 1.5em;
    width: 8vw;
    height: 1.7em;
  }

  .contactoTexto {
    font-size: 3em;
  }
}